# {{ title }}

## NFL

{% for team in nfl %}
### {{ nfl[team].name }} {{ nfl[team].record }}
| **Last:** {{ nfl[team].last }} |
| ----------------------------- |
| **Next:** {{ nfl[team].next }} |
{% endfor %}
