# {{ title }}

## NFL

{% for team in nfl %}
### {{ nfl[team].name }} {{ nfl[team].record }}
| **Last:** {{ nfl[team].last }} |
| ----------------------------- |
| **Next:** {{ nfl[team].next }} |
{% endfor %}

## NBA

{% for team in nba %}
### {{ nba[team].name }} {{ nba[team].record }}
| **Last:** {{ nba[team].last }} |
| ----------------------------- |
| **Next:** {{ nba[team].next }} |
{% endfor %}
