# {{ title }}

## Weather

| - | Today | Tomorrow |
| - | ----- | -------- |
| L/H | {{ weather['today']['low'] }}/{{ weather['today']['high'] }} | {{ weather['tomorrow']['low'] }}/{{ weather['tomorrow']['high'] }} |
| CoR | {{ weather['today']['cor'] }} | {{ weather['tomorrow']['cor'] }} |
| Day | {{ weather['today']['detailedforcast']['day'] }} | {{ weather['tomorrow']['detailedforcast']['day'] }} |
| Night | {{ weather['today']['detailedforcast']['night'] }} | {{ weather['tomorrow']['detailedforcast']['night'] }} |

## Sunrise/Sunset

| **Dawn** | {{ risenset['dawn'] }} |
| ----- | ---- |
| **Sunrise**|  {{ risenset['sunrise'] }} |
| **Solar Noon**|  {{ risenset['solar_noon'] }} |
| **Golden Hour**|  {{ risenset['golden_hour'] }} |
| **Sunset** | {{ risenset['sunset'] }} |
| **Dusk** | {{ risenset['dusk'] }} |
| **Length of Day**|  {{ risenset['day_length'] }} |